<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <title>Restaurant Menu</title>
</head>

<main>
<body onload="itemInfo()">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

                <span class="fs-4">Restaurant Name</span>
            </a>

            <ul class="nav nav-pills">
                <!-- Go to Cart -->
                <li class="nav-item"><a href="../static/html/cart.html" class="nav-link active" aria-current="page">Cart</a></li>
            </ul>
        </header>
    </div>

    <div class="b-example-divider"></div>

    <div class="d-flex justify-content-center">
        <h1>Menu</h1>
    </div>

    <br>

    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n0"></h5>
                        <p class="card-text d-flex justify-content-center" id="p0"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(0)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n1"></h5>
                        <p class="card-text d-flex justify-content-center" id="p1"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(1)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n2"></h5>
                        <p class="card-text d-flex justify-content-center" id="p2"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(2)">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

        <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n3"></h5>
                        <p class="card-text d-flex justify-content-center" id="p3"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(3)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n4"></h5>
                        <p class="card-text d-flex justify-content-center" id="p4"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(4)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n5"></h5>
                        <p class="card-text d-flex justify-content-center" id="p5"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(5)">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

        <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n6"></h5>
                        <p class="card-text d-flex justify-content-center" id="p6"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(6)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n7"></h5>
                        <p class="card-text d-flex justify-content-center" id="p7"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(7)">Add to Cart</a>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n8"></h5>
                        <p class="card-text d-flex justify-content-center" id="p8"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(8)">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

        <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="col">
                <div class="card" style="width: 18rem;">
                <img src="../pic/cheeseburger.jpeg" class="card-img-top" alt="..." width="290" height="200">
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center" id="n9"></h5>
                        <p class="card-text d-flex justify-content-center" id="p9"></p>
                        <a href="#" class="btn btn-primary d-flex justify-content-center" onclick="addItemToCart(9)">Add to Cart</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>

    <div class="b-example-divider"></div>

</body>
</main>
</html>
